<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elyeproj.simpleviewmodel">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".koin.MyViewModelKoinActivity"
            android:label="ViewModel Koin Based"/>
        <activity android:name=".daggerandroid.MyViewModelAndroidDaggerActivity"
            android:label="ViewModel Android Dagger Based"/>
        <activity android:name=".basicviewmodel.MyViewModelActivity"
            android:label="ViewModel Based"/>
        <activity android:name=".basic.MyActivity"
            android:label="Activity Based"/>
    </application>

</manifest>